@keyframes jitter {
    0% {
        transform: translateX(4) rotate(8deg);
    }
    25% {
        transform: translateX(-4px) rotate(-8deg);
    }
    50% {
        transform: translateX(4px) rotate(8deg);
    }
    75% {
        transform: translateX(-4px) rotate(-8deg);
    }
    100% {
        transform: translateX(4) rotate(8deg);
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}


.wiggle i {
    display: inline-block;
    animation: jitter 0.2s infinite;
}

body{
    background-image: url('bobbyback.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #FABB9A;
}

body h1{
    font-size: x-large;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

